body{
    background-image: url(./lotto.jpg);
    background-position: center;
    background-image: center;
}

h1,h2{
    color: #fff;
    background-color: #93a605af;
    border-radius: 10px;
}

.title {
    text-align: center;
    font-size: 24px;
    color: rgb(255, 255, 255);
}

.generate-button {
    display: block;
    margin: 20px auto;
    padding: 10px 20px;
    font-size: 16px;
    background-color: rgb(24, 102, 191);
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.generate-button:hover {
    background-color: #93a605;
}

.result-container {
    margin-top: 30px;
    text-align: center;
}

.subtitle {
    font-size: 20px;
    color: rgb(255, 255, 255);
}

.numbers-container {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.number-circle {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background-color: rgb(0, 136, 195);
    margin: 10px;
    font-size: 24px;
    color: #fff;
}

.super-number-circle {
    background-color: #ff5500;
    color: red;
}

.reset-button {
    display: block;
    margin: 0 auto;
    padding: 10px 20px;
    font-size: 16px;
    background-color: rgb(133, 115, 248);
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.reset-button:hover {
    background-color: rgb(250, 2, 2);
    color: #ff5500;
}

div.number-circle{
    color: rgb(183, 255, 0);
}

button{
    color: rgb(0, 0, 0);
    width: 10rem;
    height: 3rem;
    border-radius: 10px;
    background-color: #3472efc2;
    border-color: lime;
    font-size: 17px;
    margin:1rem;
}

button:hover{
color: lime;
background-color: #49484bd4;
}
